Source: txtorcon
Section: python
Priority: optional
Maintainer: Shrikant Bobade <shrikant_bobade@mentor.com>
Build-Depends: debhelper,
               dh-python,
               python-all,
               python-setuptools,
               python-automat,
               python-geoip,
               python-mock,
               python3-all,
               python3-setuptools,
               python3-automat,
               python3-geoip,
               python3-mock,
Standards-Version: 4.3.0
Homepage: https://pythonhosted.org/txtorcon

Package: python-txtorcon
Architecture: all
Depends: python-geoip, python-zope.interface, python-automat, python-incremental, python:any (>= 2.7.5-5~)
Homepage: https://github.com/meejah/txtorcon
Description: Twisted-based asynchronous Tor control protocol implementation (Python 2)
 txtorcon main feature is to present an asynchronous API to speak the Tor
 client protocol in Python. It also provides abstractions to track and get
 updates about Tor's state and current configuration (including writing it to
 Tor or disk), along with helpers to asynchronously launch slave instances of
 Tor including Twisted endpoint support.
 .
 Twisted is an event-driven networking engine written in Python and Tor is an
 onion-routing network designed to improve people's privacy and anonymity on the
 Internet.
 .
 This package contains the Python 2 module.


Package: python3-txtorcon
Architecture: all
Depends: python3-geoip, python3-zope.interface, python3-automat, python3-incremental, python3:any
Homepage: https://github.com/meejah/txtorcon
Description: Twisted-based asynchronous Tor control protocol implementation (Python 3)
 txtorcon main feature is to present an asynchronous API to speak the Tor
 client protocol in Python. It also provides abstractions to track and get
 updates about Tor's state and current configuration (including writing it to
 Tor or disk), along with helpers to asynchronously launch slave instances of
 Tor including Twisted endpoint support.
 .
 Twisted is an event-driven networking engine written in Python and Tor is an
 onion-routing network designed to improve people's privacy and anonymity on the
 Internet.
 .
 This package contains the Python 3 module.
